/* Colors */

$primary-color: #292b2c;
$color-white: #ffffff;
$color-red: #e7446d;
$color-blue: #004b8d;
$color-links-blue: #1d72c3;
$color-h1-blue: #0159a7;
$color-orange: #de5430;

$gray-1: #eceeef;
$gray-2: #d5d5d5;
$gray-3: #cfd1d2;

/* Background colors */
$bg-color-light-gray: #f5f5f5;
$bg-color-gray: #eaecef;

/* Sections */
$section-padding: 35px 0;
$section-margin: 0 0 35px;
$div-sec-padding: 15px 0;

/* Media Queries */
$break-extra-small: 320px;
$break-small: 576px;
$break-media: 768px;
$break-large: 992px;
$break-extra-large: 1200px;